* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 15px;
    margin: 0;
}

.parent {
    background-color: hsl(233, 47%, 7%);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.my-project {
    width: calc(100% - 400px);
    display: flex;
    flex-direction: row-reverse;
    background-color: hsl(244, 38%, 16%);
    color: white;
    border-radius: 10px;

}

.my-project .img {
    width: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
}

.my-project .img {
    position: relative;
}

.my-project .img::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: hsl(277, 64%, 61%);
    opacity: .5;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.my-project .heading {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.my-project .heading h1 {
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    margin-bottom: 10px;
    font-size: 19px;
}

.my-project .heading h1 span {
    color: hsl(277, 64%, 61%);
    font-size: 19px;
}

.my-project .heading .paragraph {
    font-weight: 400;
    font-family: 'Lexend Deca', sans-serif;
    color: hsla(0, 0%, 100%, 0.6);
    font-size: 8px;
    width: calc(100% - 30px);
    margin-bottom: 40px;
    line-height: 1.7;
    opacity: 0.7;
}

.mehdi span {
    font-weight: 700;
    font-family: 'Inter', sans-serif;
}

.asma {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 30px);
}

.asma .mehdi span {
    text-transform: capitalize;
}

.asma .mehdi p {
    font-weight: 400;
    font-family: 'Lexend Deca', sans-serif;
    color: hsla(0, 0%, 100%, 0.6);
    font-size: 7px;
    width: calc(100% - 30px);
    opacity: 0.7;
    text-transform: uppercase;
}

@media (max-width:390px) {
    .parent {
        text-align: center;
    }

    .my-project {
        width: calc(100% - 400px);
        display: flex;
        flex-direction: column;
        background-color: hsl(244, 38%, 16%);
        color: white;
        width: 282px;
    }

    .my-project img {
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 0;
        height: 100%;
    }

    .my-project .img::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 99%;
        left: 0;
        top: 0;
        background-color: hsl(277, 64%, 61%);
        opacity: .5;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 0px;
    }

    .my-project .heading .paragraph {
        width: 100%;
    }

    .asma {
        display: flex;
        justify-content: space-between;
        width: 100%;
        flex-direction: column;
    }

    .asma .mehdi {
        margin-bottom: 20px;
    }

    .asma .mehdi p {
        width: 100%;
    }
}

@media (max-width:900px) {
    .parent {
        text-align: center;
    }

    .my-project {
        width: calc(100% - 400px);
        display: flex;
        flex-direction: column;
        background-color: hsl(244, 38%, 16%);
        color: white;
        width: 282px;
    }

    .my-project img {
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 0;
        height: 100%;
    }

    .my-project .img::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 99%;
        left: 0;
        top: 0;
        background-color: hsl(277, 64%, 61%);
        opacity: .5;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 0px;
    }

    .my-project .heading .paragraph {
        width: 100%;
    }

    .asma {
        display: flex;
        justify-content: space-between;
        width: 100%;
        flex-direction: column;
    }

    .asma .mehdi {
        margin-bottom: 20px;
    }

    .asma .mehdi p {
        width: 100%;
    }
}

@media (min-width: 900px) {
    .parent {
        background-color: hsl(233, 47%, 7%);
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .my-project {
        width: calc(100% - 400px);
        display: flex;
        flex-direction: row-reverse;
        background-color: hsl(244, 38%, 16%);
        color: white;

    }

    .my-project img {
        width: 100%;
        height: 100%;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .my-project .heading {
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .my-project .heading h1 {
        font-weight: 700;
        font-family: 'Inter', sans-serif;
        margin-bottom: 10px;
        font-size: 22px;
    }

    .my-project .heading h1 span {
        color: hsl(277, 64%, 61%);
        font-size: 22px;
    }

    .my-project .heading .paragraph {
        font-weight: 400;
        font-family: 'Lexend Deca', sans-serif;
        color: hsla(0, 0%, 100%, 0.6);
        font-size: 9px;
        width: calc(100% - 30px);
        margin-bottom: 40px;
        line-height: 1.7;
        opacity: 0.7;
    }

    .mehdi span {
        font-weight: 700;
        font-family: 'Inter', sans-serif;
    }

    .asma {
        display: flex;
        justify-content: space-between;
        width: calc(100% - 30px);
    }

    .asma .mehdi span {
        text-transform: capitalize;
        font-size: 17px;
    }


    .asma .mehdi p {
        font-weight: 400;
        font-family: 'Lexend Deca', sans-serif;
        color: hsla(0, 0%, 100%, 0.6);
        font-size: 11px;
        width: calc(100% - 30px);
        opacity: 0.7;
        text-transform: uppercase;
    }
}

@media (min-width: 1250px) {
    .parent {
        background-color: hsl(233, 47%, 7%);
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .my-project {
        width: calc(100% - 400px);
        display: flex;
        flex-direction: row-reverse;
        background-color: hsl(244, 38%, 16%);
        color: white;

    }

    .my-project img {
        width: 100%;
        height: 100%;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .my-project .heading {
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .my-project .heading h1 {
        font-weight: 700;
        font-family: 'Inter', sans-serif;
        margin-bottom: 10px;
        font-size: 35px;
    }

    .my-project .heading h1 span {
        color: hsl(277, 64%, 61%);
        font-size: 35px;
    }

    .my-project .heading .paragraph {
        font-weight: 400;
        font-family: 'Lexend Deca', sans-serif;
        color: hsla(0, 0%, 100%, 0.6);
        font-size: 16px;
        width: calc(100% - 30px);
        margin-bottom: 40px;
        line-height: 1.7;
        opacity: 0.7;
    }

    .mehdi span {
        font-weight: 700;
        font-family: 'Inter', sans-serif;
    }

    .asma {
        display: flex;
        justify-content: space-between;
        width: calc(100% - 30px);
    }

    .asma .mehdi span {
        text-transform: capitalize;
        font-size: 20px;
    }


    .asma .mehdi p {
        font-weight: 400;
        font-family: 'Lexend Deca', sans-serif;
        color: hsla(0, 0%, 100%, 0.6);
        font-size: 13px;
        width: calc(100% - 30px);
        opacity: 0.7;
        text-transform: uppercase;
    }
}